openapi: 3.1.0
info:
  title: Publishing Platform Demo API
  version: 1.0.0
  description: |
    Implemented API contract aligned to the current SDK implementation
    on local branch feature/RPS-19.

    Architecture contract notes:
    - The SDK intentionally models deep book-lifecycle workflows before broader publishing domains.
    - Module clients share one transport contract for correlation, resilience, diagnostics, and normalized errors.
    - Public schemas are strict, platform-owned SDK models; provider-specific payloads stay internal.
    - Non-idempotent retries require explicit opt-in and an idempotency key when replay is possible.
    - Diagnostics default to privacy-preserving behavior and omit sensitive headers, payloads, and content.
x-sdk-architecture-tradeoffs:
  depthOverBreadth: Book lifecycle depth is prioritized over broad generic publishing coverage.
  centralTransport: Shared transport consistency is favored over per-client HTTP pipeline variation.
  typedModelStrictness: SDK-owned models are strict at the public boundary while status strings remain forward-compatible.
  retryAndIdempotency: Retry defaults protect side-effecting operations unless idempotency is explicit.
  diagnosticsPrivacy: Diagnostics are opt-in and redact sensitive request, response, and content data by default.
  errorNormalization: API errors are normalized once at transport level before mapper-specific exceptions are produced.
servers:
  - url: https://api.publisher-platform.dev
security:
  - BearerAuth: []
tags:
  - name: Books
  - name: BookContent
  - name: BookPublishing
  - name: BookDistribution
  - name: BookAccess
  - name: BookAnalytics
  - name: BookAuditLogs
  - name: Webhooks

paths:
  /books:
    post:
      tags: [Books]
      operationId: books_create
      summary: Create a book
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBookRequest'
      responses:
        '200':
          description: Book created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Book'
        '201':
          description: Book created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Book'
        default:
          $ref: '#/components/responses/ErrorResponse'
    get:
      tags: [Books]
      operationId: books_list
      summary: List books
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSizeBooks'
        - $ref: '#/components/parameters/ContinuationToken'
        - in: query
          name: title
          schema:
            type: string
        - in: query
          name: author
          schema:
            type: string
        - in: query
          name: tag
          description: Repeat this query parameter to filter by multiple tags.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - in: query
          name: sortBy
          schema:
            type: string
            enum: [title, author, createdAt, updatedAt]
            default: title
        - in: query
          name: descending
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Paged books
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedBookResult'
        default:
          $ref: '#/components/responses/ErrorResponse'

  /books/{bookId}:
    get:
      tags: [Books]
      operationId: books_getById
      summary: Get a book by ID
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/BookId'
      responses:
        '200':
          description: Book found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Book'
        default:
          $ref: '#/components/responses/ErrorResponse'
    put:
      tags: [Books]
      operationId: books_updateMetadata
      summary: Replace mutable book metadata
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/BookId'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBookMetadataRequest'
      responses:
        '200':
          description: Book updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Book'
        default:
          $ref: '#/components/responses/ErrorResponse'
    patch:
      tags: [Books]
      operationId: books_patchMetadata
      summary: Partially update mutable book metadata
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/BookId'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBookPatchRequest'
      responses:
        '200':
          description: Book patched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Book'
        default:
          $ref: '#/components/responses/ErrorResponse'
    delete:
      tags: [Books]
      operationId: books_delete
      summary: Delete a book
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/BookId'
      responses:
        '204':
          description: Book deleted
        default:
          $ref: '#/components/responses/ErrorResponse'

  /books/{bookId}/content:
    get:
      tags: [BookContent]
      operationId: bookContent_get
      summary: Get book content metadata
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/BookId'
      responses:
        '200':
          description: Book content metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookContent'
        default:
          $ref: '#/components/responses/ErrorResponse'
    put:
      tags: [BookContent]
      operationId: bookContent_uploadOrReplace
      summary: Upload or replace book content
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/BookId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadBookContentRequest'
      responses:
        '200':
          description: Content uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookContent'
        '202':
          description: Content accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookContent'
        default:
          $ref: '#/components/responses/ErrorResponse'

  /books/{bookId}/publishing/publish:
    post:
      tags: [BookPublishing]
      operationId: bookPublishing_publish
      summary: Publish a book
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/BookId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishBookRequest'
      responses:
        '200':
          description: Publishing status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookPublishingStatus'
        default:
          $ref: '#/components/responses/ErrorResponse'

  /books/{bookId}/publishing/unpublish:
    post:
      tags: [BookPublishing]
      operationId: bookPublishing_unpublish
      summary: Unpublish a book
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/BookId'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: Publishing status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookPublishingStatus'
        default:
          $ref: '#/components/responses/ErrorResponse'

  /books/{bookId}/publishing/schedule:
    post:
      tags: [BookPublishing]
      operationId: bookPublishing_schedule
      summary: Schedule book publishing
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/BookId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleBookPublishingRequest'
      responses:
        '200':
          description: Publishing status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookPublishingStatus'
        default:
          $ref: '#/components/responses/ErrorResponse'

  /books/{bookId}/publishing/status:
    get:
      tags: [BookPublishing]
      operationId: bookPublishing_getStatus
      summary: Get book publishing status
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/BookId'
      responses:
        '200':
          description: Publishing status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookPublishingStatus'
        default:
          $ref: '#/components/responses/ErrorResponse'

  /books/{bookId}/distribution/start:
    post:
      tags: [BookDistribution]
      operationId: bookDistribution_start
      summary: Start book distribution for one or more channels
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/BookId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartBookDistributionRequest'
      responses:
        '200':
          description: Distribution operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookDistributionOperation'
        '202':
          description: Distribution accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookDistributionOperation'
        default:
          $ref: '#/components/responses/ErrorResponse'

  /books/{bookId}/distribution/{operationId}/status:
    get:
      tags: [BookDistribution]
      operationId: bookDistribution_getStatus
      summary: Get distribution operation status
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/BookId'
        - $ref: '#/components/parameters/OperationId'
      responses:
        '200':
          description: Distribution operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookDistributionOperation'
        default:
          $ref: '#/components/responses/ErrorResponse'

  /books/{bookId}/distribution/{operationId}/retry:
    post:
      tags: [BookDistribution]
      operationId: bookDistribution_retry
      summary: Retry distribution operation
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/BookId'
        - $ref: '#/components/parameters/OperationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: Distribution operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookDistributionOperation'
        default:
          $ref: '#/components/responses/ErrorResponse'

  /books/{bookId}/distribution:
    get:
      tags: [BookDistribution]
      operationId: bookDistribution_list
      summary: List distribution operations for a book
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/BookId'
      responses:
        '200':
          description: Distribution operation list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookDistributionListResult'
        default:
          $ref: '#/components/responses/ErrorResponse'

  /book-access:
    get:
      tags: [BookAccess]
      operationId: bookAccess_listGlobal
      summary: List book access grants globally
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/PageSizeAccess'
        - $ref: '#/components/parameters/ContinuationToken'
        - in: query
          name: principalId
          schema:
            type: string
        - in: query
          name: principalType
          schema:
            type: string
        - in: query
          name: accessLevel
          schema:
            type: string
      responses:
        '200':
          description: Paged access grants
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedBookAccessGrantResult'
        default:
          $ref: '#/components/responses/ErrorResponse'

  /books/{bookId}/access:
    post:
      tags: [BookAccess]
      operationId: bookAccess_grant
      summary: Grant access for a specific book
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/BookId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookAccessGrantRequest'
      responses:
        '200':
          description: Access grant result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookAccessGrantResult'
        default:
          $ref: '#/components/responses/ErrorResponse'
    get:
      tags: [BookAccess]
      operationId: bookAccess_listForBook
      summary: List access grants for a specific book
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/BookId'
        - $ref: '#/components/parameters/PageSizeAccess'
        - $ref: '#/components/parameters/ContinuationToken'
        - in: query
          name: principalId
          schema:
            type: string
        - in: query
          name: principalType
          schema:
            type: string
        - in: query
          name: accessLevel
          schema:
            type: string
      responses:
        '200':
          description: Paged access grants
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedBookAccessGrantResult'
        default:
          $ref: '#/components/responses/ErrorResponse'

  /books/{bookId}/access/revoke:
    post:
      tags: [BookAccess]
      operationId: bookAccess_revoke
      summary: Revoke access for a specific book
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/BookId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookAccessRevokeRequest'
      responses:
        '200':
          description: Access revoke result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookAccessRevokeResult'
        default:
          $ref: '#/components/responses/ErrorResponse'

  /books/{bookId}/access/check:
    get:
      tags: [BookAccess]
      operationId: bookAccess_check
      summary: Check effective access for a book and principal
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/BookId'
        - in: query
          name: principalId
          required: true
          schema:
            type: string
            minLength: 1
        - in: query
          name: principalType
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        '200':
          description: Access status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookAccessStatus'
        default:
          $ref: '#/components/responses/ErrorResponse'

  /book-analytics/summary:
    get:
      tags: [BookAnalytics]
      operationId: bookAnalytics_getSummary
      summary: Get book analytics summary
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - in: query
          name: bookId
          required: true
          schema:
            type: string
            minLength: 1
        - in: query
          name: from
          required: true
          schema:
            type: string
            format: date-time
        - in: query
          name: to
          required: true
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Analytics summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsSummary'
        default:
          $ref: '#/components/responses/ErrorResponse'

  /book-audit-logs:
    get:
      tags: [BookAuditLogs]
      operationId: bookAuditLogs_list
      summary: List book audit log entries
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSizeAudit'
        - $ref: '#/components/parameters/ContinuationToken'
        - in: query
          name: bookId
          schema:
            type: string
        - in: query
          name: action
          schema:
            type: string
      responses:
        '200':
          description: Paged audit log entries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedAuditLogResult'
        default:
          $ref: '#/components/responses/ErrorResponse'

  /webhooks:
    post:
      tags: [Webhooks]
      operationId: webhooks_register
      summary: Register a webhook
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterWebhookRequest'
      responses:
        '200':
          description: Webhook registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '201':
          description: Webhook registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        default:
          $ref: '#/components/responses/ErrorResponse'
    get:
      tags: [Webhooks]
      operationId: webhooks_list
      summary: List webhooks
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/PageSizeWebhooks'
        - $ref: '#/components/parameters/ContinuationToken'
        - in: query
          name: event
          schema:
            type: string
        - in: query
          name: isActive
          schema:
            type: boolean
      responses:
        '200':
          description: Paged webhooks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedWebhookResult'
        default:
          $ref: '#/components/responses/ErrorResponse'

  /webhooks/{webhookId}:
    patch:
      tags: [Webhooks]
      operationId: webhooks_update
      summary: Update a webhook
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/WebhookId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWebhookRequest'
      responses:
        '200':
          description: Webhook updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        default:
          $ref: '#/components/responses/ErrorResponse'
    delete:
      tags: [Webhooks]
      operationId: webhooks_delete
      summary: Delete a webhook
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/WebhookId'
      responses:
        '204':
          description: Webhook deleted
        default:
          $ref: '#/components/responses/ErrorResponse'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
  parameters:
    BookId:
      in: path
      name: bookId
      required: true
      schema:
        type: string
        minLength: 1
    OperationId:
      in: path
      name: operationId
      required: true
      schema:
        type: string
        minLength: 1
    WebhookId:
      in: path
      name: webhookId
      required: true
      schema:
        type: string
        minLength: 1
    CorrelationId:
      in: header
      name: X-Correlation-Id
      required: false
      schema:
        type: string
        minLength: 1
    IdempotencyKey:
      in: header
      name: Idempotency-Key
      required: false
      schema:
        type: string
        minLength: 1
    IfMatch:
      in: header
      name: If-Match
      required: false
      schema:
        type: string
        minLength: 1
    Page:
      in: query
      name: page
      required: false
      schema:
        type: integer
        minimum: 0
        default: 0
    PageSizeBooks:
      in: query
      name: pageSize
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50
    PageSizeAccess:
      in: query
      name: pageSize
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50
    PageSizeAudit:
      in: query
      name: pageSize
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 500
        default: 50
    PageSizeWebhooks:
      in: query
      name: pageSize
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 500
        default: 50
    ContinuationToken:
      in: query
      name: continuationToken
      required: false
      schema:
        type: string

  responses:
    ErrorResponse:
      description: Normalized SDK/API error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'

  schemas:
    Book:
      type: object
      required: [id, title, author, tags]
      properties:
        id:
          type: string
        title:
          type: string
        author:
          type: string
        tags:
          type: array
          items:
            type: string
        concurrencyToken:
          type: [string, "null"]

    CreateBookRequest:
      type: object
      required: [title, author]
      properties:
        title:
          type: string
          minLength: 1
        author:
          type: string
          minLength: 1
        tags:
          type: array
          items:
            type: string
        idempotencyKey:
          type: [string, "null"]

    UpdateBookMetadataRequest:
      type: object
      required: [title, author]
      properties:
        title:
          type: string
          minLength: 1
        author:
          type: string
          minLength: 1
        tags:
          type: array
          items:
            type: string
        concurrencyToken:
          type: [string, "null"]

    UpdateBookPatchRequest:
      type: object
      properties:
        title:
          type: [string, "null"]
        author:
          type: [string, "null"]
        tags:
          type: [array, "null"]
          items:
            type: string
        concurrencyToken:
          type: [string, "null"]

    PagedBookResult:
      allOf:
        - $ref: '#/components/schemas/PagedResultBase'
        - type: object
          required: [items]
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Book'

    BookContent:
      type: object
      required: [bookId, format]
      properties:
        bookId:
          type: string
        format:
          type: string
        contentUrl:
          type: [string, "null"]
          format: uri
        localPath:
          type: [string, "null"]
        storedAt:
          type: [string, "null"]
          format: date-time

    UploadBookContentRequest:
      type: object
      required: [file]
      properties:
        file:
          type: string
          format: binary
        format:
          type: string
          enum: [pdf, epub]
        idempotencyKey:
          type: [string, "null"]

    PublishBookRequest:
      type: object
      properties:
        notes:
          type: [string, "null"]

    ScheduleBookPublishingRequest:
      type: object
      required: [scheduledAt]
      properties:
        scheduledAt:
          type: string
          format: date-time

    BookPublishingStatus:
      type: object
      required: [bookId, status]
      properties:
        bookId:
          type: string
        status:
          type: string
        scheduledAt:
          type: [string, "null"]
          format: date-time
        publishedAt:
          type: [string, "null"]
          format: date-time
        failureReason:
          type: [string, "null"]

    StartBookDistributionRequest:
      type: object
      required: [channels]
      properties:
        channels:
          type: array
          minItems: 1
          items:
            type: string

    BookDistributionOperation:
      type: object
      required: [operationId, bookId, status]
      properties:
        operationId:
          type: string
        bookId:
          type: string
        status:
          type: string
        startedAt:
          type: [string, "null"]
          format: date-time
        completedAt:
          type: [string, "null"]
          format: date-time
        failureReason:
          type: [string, "null"]

    BookDistributionListResult:
      type: object
      required: [operations]
      properties:
        operations:
          type: array
          items:
            $ref: '#/components/schemas/BookDistributionOperation'

    BookAccessGrantRequest:
      type: object
      required: [bookId, principalId, principalType, accessLevel]
      properties:
        bookId:
          type: string
          minLength: 1
        principalId:
          type: string
          minLength: 1
        principalType:
          type: string
          minLength: 1
        accessLevel:
          type: string
          minLength: 1
        expiresAt:
          type: [string, "null"]
          format: date-time
        idempotencyKey:
          type: [string, "null"]

    BookAccessRevokeRequest:
      type: object
      required: [bookId, principalId, principalType]
      properties:
        bookId:
          type: string
          minLength: 1
        principalId:
          type: string
          minLength: 1
        principalType:
          type: string
          minLength: 1
        reason:
          type: [string, "null"]

    BookAccessCheckRequest:
      type: object
      required: [bookId, principalId, principalType]
      properties:
        bookId:
          type: string
          minLength: 1
        principalId:
          type: string
          minLength: 1
        principalType:
          type: string
          minLength: 1

    BookAccessGrant:
      type: object
      required: [grantId, bookId, principalId, principalType, accessLevel, grantedAt, grantedBy]
      properties:
        grantId:
          type: string
        bookId:
          type: string
        principalId:
          type: string
        principalType:
          type: string
        accessLevel:
          type: string
        reason:
          type: [string, "null"]
        grantedAt:
          type: string
          format: date-time
        grantedBy:
          type: string
        expiresAt:
          type: [string, "null"]
          format: date-time

    BookAccessGrantResult:
      type: object
      required: [grantId, bookId, principalId, principalType, accessLevel, created]
      properties:
        grantId:
          type: string
        bookId:
          type: string
        principalId:
          type: string
        principalType:
          type: string
        accessLevel:
          type: string
        created:
          type: boolean
        expiresAt:
          type: [string, "null"]
          format: date-time

    BookAccessRevokeResult:
      type: object
      required: [bookId, principalId, principalType, revoked, revokedAt]
      properties:
        bookId:
          type: string
        principalId:
          type: string
        principalType:
          type: string
        revoked:
          type: boolean
        revokedAt:
          type: string
          format: date-time
        reason:
          type: [string, "null"]

    BookAccessStatus:
      type: object
      required: [bookId, principalId, principalType, hasAccess]
      properties:
        bookId:
          type: string
        principalId:
          type: string
        principalType:
          type: string
        hasAccess:
          type: boolean
        accessLevel:
          type: [string, "null"]
        reason:
          type: [string, "null"]
        expiresAt:
          type: [string, "null"]
          format: date-time

    PagedBookAccessGrantResult:
      allOf:
        - $ref: '#/components/schemas/PagedResultBase'
        - type: object
          required: [items]
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/BookAccessGrant'

    AnalyticsSummary:
      type: object
      required: [totalViews, totalDownloads, activeReaders]
      properties:
        totalViews:
          type: integer
          format: int64
        totalDownloads:
          type: integer
          format: int64
        activeReaders:
          type: integer
          format: int64

    AuditLog:
      type: object
      required: [id, action, timestamp]
      properties:
        id:
          type: string
        action:
          type: string
        timestamp:
          type: string
          format: date-time

    PagedAuditLogResult:
      allOf:
        - $ref: '#/components/schemas/PagedResultBase'
        - type: object
          required: [items]
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/AuditLog'

    RegisterWebhookRequest:
      type: object
      required: [endpointUrl, events]
      properties:
        endpointUrl:
          type: string
          format: uri
        events:
          type: array
          minItems: 1
          items:
            type: string
        isActive:
          type: boolean
          default: true
        signingKeyId:
          type: [string, "null"]

    UpdateWebhookRequest:
      type: object
      required: [webhookId, endpointUrl, events]
      properties:
        webhookId:
          type: string
          minLength: 1
        endpointUrl:
          type: string
          format: uri
        events:
          type: array
          minItems: 1
          items:
            type: string
        isActive:
          type: boolean
          default: true

    Webhook:
      type: object
      required: [id, endpointUrl, events, isActive, createdAt]
      properties:
        id:
          type: string
        endpointUrl:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
        isActive:
          type: boolean
        signingKeyId:
          type: [string, "null"]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: [string, "null"]
          format: date-time

    PagedWebhookResult:
      allOf:
        - $ref: '#/components/schemas/PagedResultBase'
        - type: object
          required: [items]
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Webhook'

    PagedResultBase:
      type: object
      required: [totalCount]
      properties:
        totalCount:
          type: integer
          minimum: 0
        continuationToken:
          type: [string, "null"]

    ApiError:
      type: object
      required: [message]
      properties:
        message:
          type: string
        errorCode:
          type: [string, "null"]
        correlationId:
          type: [string, "null"]
        requestId:
          type: [string, "null"]
